<div class="wrapper">
  <h2 class="section-title">
    Каталог
    <span *ngIf="categoryName"> / {{ categoryName }}</span>
  </h2>

  <ng-container *ngIf="products.length; else emptyState">
    <div class="grid">
      <app-product-item
        *ngFor="let p of products"
        [product]="p"
        (delete)="handleProductDelete($event)">
      </app-product-item>
    </div>
  </ng-container>

  <ng-template #emptyState>
    <p class="empty-message">В этой категории пока нет товаров.</p>
  </ng-template>
</div>